<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Color of Ours</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- =======================================================
  * Template Name: Lumia - v4.8.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">Color of Ours</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
<!--          <a href="index.html"><img src="assets/img/logo.png" alt="no-image" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">Home</a></li>
          <li class="dropdown nav-link scrollto active"><a>Information<i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="overview.html">Overview</a></li>
              <li><a href="cause.html">Causes</a></li>
               <li><a href="difficulties.html">Difficulties</a></li>
                <li><a href="treatments.html">Treatments</a></li>
              <li><a href="faq.html">FAQ</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto " href="program.html">Program</a></li>
          <li><a class="nav-link scrollto" href="donate.html">Donate</a></li>
          <li><a class="nav-link scrollto" href="index.html#news">News</a></li>
          <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

<!--       <div class="header-social-links d-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div> -->

    </div>
  </header><!-- End Header -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">

      <h1>Cause</h1>
<!--       <p class="donate-p"> <i class="fa-solid fa-quote-left donate-i"></i> Cause of colorblindness <i class="fa-solid fa-quote-right donate-i"></i> </p> -->
    </div>
</section>
  <div class="container">
          <h3 class="mt-5 mx-5">Cause of Color blindedness</h3>
                                       <center>
                             <img src="assets/img/cones.jpg" class="img-fluid mt-5" alt="">
                           </center>
          <p class="mt-5 mx-5"> 
          Our eyes have two kinds of specialized light receptors (rods and cones) located in the retina in the back layer of the eye to help us see. Rods allow us to see in low light conditions, like at night. Cones allow us to see in bright light, like during the day—and convert light into color vision.

          There are three kinds of cones that translate light into color, each with a range of sensitivity to blues, greens, and reds. If we look at the cones of a person with typical color vision, their cones will be arranged in a way that is only slightly overlapping, as seen in the graph below. The three separate regions of color response enable human color vision to see up to 1 million distinct shades of color. In people with color blindness (specifically, red-green color blindness), there is a greater overlap, sometimes to the point of complete overlap, between the red and green cones.
          </p>                            
<!--           <center>
 --> <!--                             <img src=”assets/img/cones.jpeg” class="img-fluid mt-4" alt="">
                           </center> -->
 


<p class="mt-5 mx-5"> 
          When the curve of the cone sensitive to greens shifts its sensitivity to the right, it causes an excessive overlap of the green and red making the green cone act more like a red cone (this describes deutan-type color blindness; for protan-type the red cone shifts to the left). Because this cone is no longer sensitive to the greens and other wavelengths that help to make up more colors, this reduces the colors seen and causes a dullness in the way the world's colors appear. Instead of responding separately to reds and greens, the red and green cones’ responses are highly similar. This result is color confusion between specific colors, including blue versus purple, and green versus brown, yellow, orange, and red. That’s why some people with color blindness may have trouble discerning the red and green in traffic lights. The more the cone’s sensitivity shifts, the more color confusion ensues. 
</p>
<center>
<img src="assets/img/genes1.jpg" class="img-fluid mt-4" alt="">
</center>
 <p class="mt-5 mx-5"> 
            Red-green color blindness, the most common form by far, is a genetic mutation that is passed to children on the X chromosome. At conception, an egg carries an X chromosome and the sperm cell can carry either an X chromosome or a Y chromosome. If you have an XX chromosome pair, the resulting baby will be female. If you have an XY chromosome pair, the baby will be male. The gene responsible for color blindness is located on the X chromosome. In other words, red-green color blindness is an X-linked recessive condition. If a female inherits one normal color vision gene and one mutated gene, she won’t be red-green color blind, because it’s a recessive trait. If she inherits two mutated color vision genes, she’ll be color red-green blind.
             </p>

                            <center>
                             <img src="assets/img/genes2.jpg" class="img-fluid mt-4" alt="">
                           </center>


<p class="mt-5 mx-5">
          Since boys have only one X chromosome, their chance of inheriting red-green color blindness is much greater. Boys always inherit their X chromosome from their mother. If mom has red-green color blindness, or if mom’s dad is red-green colorblind, her son will be too.
</p>



 </div>



  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Logn</span></strong>. All Rights Reserved
        </div>

      </div>
<!--       <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>