{% extends 'header.html' %}
{% block donate %}


<body>
    <div class="hero-wrap hero-bread" style="background: url('../static/images/bckg.jpg') center;">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 text-center">
               <h1 class="mb-0 bread text-white">Donate</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">

               <h3 class="mt-5 ps-4 pe-4">Solution for colorblind</h3>


          <p class="mt-3 ps-4 pe-4">  <span class = "font-bold"> EnChroma lenses </span> were developed in the early 2000's by glass scientist and UC Berkeley educated mathematition to ease the lives of people with color blindess through innovative lense technology.</p>

          <p class="mt-3  ps-4 pe-4"> Its technology <span class = "font-bold">filters out wavelengths of light </span> that are primary causes of color deficiency. The <span class = "font-bold">M and L cones</span> are altered to maximize the color differentiation, eliminating the "confusion line" of a color blind individual.</p>

          <p class="mt-3  ps-4 pe-4">
         The lens technology increases <span class = "font-bold">contrast between the red and green color signals</span>, which reduces the effects of color deficiency. Thus, color blinds can take a step closer to experiencing our world the way we do. </p>

      </div>
        <h2 class="mt-5 underline  ps-4 pe-4"><i class="fa-solid fa-circle-dollar-to-slot"></i> Donation</h2>

          <div class="row">
           <div class="col-md-8">
            <p class="mt-3  ps-4 pe-4">
                Click on the link below to donate EnChroma glasses for low-income colorblinds that are unable to afford the glasses due to expensive costs. The donation will provide life-changing experiences for the colorblinds, and help them through numerous small and big difficulties they face in their daily lives.
            </p>


                <a class="mt-2  ps-4 pe-4" href="https://www.gofundme.com/manage/color-of-ours-help-to-colorblind-community"><button type="button" class="btn btn-donate mb-5">Help for colorblindness</button></a>
            </div>
                <!-- <br> -->
            <div class="col-md-4">
            <img src="../static/images/donate.jpg" class="img-fluid donateimg mb-5  ms-3" alt="">

        </div>
      </div>

    </div>

		</section>




<footer class="ftco-footer ftco-section bg-light">
      <div class="container">
        <div class="row">
          <div class="mouse2 mt-5">
            <a href="#" class="mouse-icon">
              <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="ftco-footer-widget mt-5">
              <center>
                <h2 class="ftco-heading-2">Color of Ours </h2>
                <p>Break the stereotypical standards of vision by viewing the world in 'their' colors</p>
            </center>
            </div>
          </div>

          <div class="col-md">
            <div class="ftco-footer-widget mt-5">
              <center>
                <h2 class="ftco-heading-2">Have a Question?</h2>
              <div class="block-23">
                <ul>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">colorofours@gmail.com</span></a></li>
                </ul>
              </div>
            </center>
            </div>
          </div>
        </div>

      </div>
    </footer>


</body>
{% endblock %}
</html>