<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Color of Ours</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- =======================================================
  * Template Name: Lumia - v4.8.1
  * Template URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1><a href="index.html">Color of Ours</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
<!--          <a href="index.html"><img src="assets/img/logo.png" alt="no-image" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">Home</a></li>
          <li class="dropdown"><a href="#"><span class="active">Information</span> <i class="bi bi-chevron-down"></i></a>
             <ul>
              <li><a href="overview.html">Overview</a></li>
              <li><a href="cause.html">Causes</a></li>
               <li><a href="difficulties.html">Difficulties</a></li>
                <li><a href="treatments.html">Treatments</a></li>
              <li><a href="faq.html">FAQ</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto " href="program.html">Explore Colorblind</a></li>
          <li><a class="nav-link scrollto " href="donate.html">Donate</a></li>
          <li><a class="nav-link scrollto" href="index.html#news">News</a></li>
          <li><a class="nav-link scrollto" href="index.html#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

<!--       <div class="header-social-links d-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div> -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>FAQ</h1>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <section>

      <div class="accordion mx-5" id="accordion-main">

        <div class="accordion-item">
          <h2 class="accordion-header" id="questionOne"> 
            <button class="accordion-button bg-accor" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> 
              How common is color blindedness? 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show"
          aria-labelledby="questionOne" data-bs-parent="#accordion-main">
            <div class="accordion-body">
          There are an estimated 300 million people in the world with color vision deficiency. 1 in 12 men are color blind (8%). 1 in 200 women are color blind (0.5%). Red colorblindedness is especially the most common color blind case. 
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="questionTwo"> 
            <button class="accordion-button bg-accor" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 
              Can females also be colorblind? 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse"
          aria-labelledby="questionTwo" data-bs-parent="#accordion-main">
            <div class="accordion-body">
              Yes, but it is highly unlikely. Color blindness occurs in only about 1 in 200 women (compared to 1 in 12 men). As a result, approximately 95% of people with color blindness are men. Thanks to chromosomal differences between men and women, color blind women are much fewer and farther between than color blind men. Genetically, it is only possible to have a color blind daughter if both parents are either color blind, or gene carriers. 
            </div>
          </div>
        </div>
                <div class="accordion-item">
          <h2 class="accordion-header" id="questionThree"> 
            <button class="accordion-button bg-accor" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> 
              How much does the color-correction glasses cost? 
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse"
          aria-labelledby="questionThree" data-bs-parent="#accordion-main">
            <div class="accordion-body">
              The cost of EnChroma glasses (most prominent brand in color blind glasses) range from $200-400 for adult pairs, and $269 or more for children. While people with mild to moderate color blindedness significantly benefit from these special glasses, people without any red or green photoreceptors will not be affected by the technology.   
            </div>
          </div>
        </div>
                <div class="accordion-item">
          <h2 class="accordion-header" id="questionFour"> 
            <button class="accordion-button bg-accor" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> 
              How can we help the color blind community? 
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse"
          aria-labelledby="questionFour" data-bs-parent="#accordion-main">
            <div class="accordion-body">
              Aside from donations -- treat them like normal people. A color blind stated that "The negative reaction of people toward color deficiency can affect colorblind people mental health in a negative way for the whole life." By simply driving conversations away from topics addressing colors, we can create a more inclusive commmunity for the color blind people. 
            </div>
          </div>
        </div>

  
    </section>
 

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Logn</span></strong>. All Rights Reserved
        </div>

<!--       <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>